/STM32F401/STM32F4XX_bom_*.csv
/STM32F401/*bak
/STM32F401/STM32_HID_Bootloader/firmware/en.stm32cubeprg-lin_v2-10-0.zip
/STM32F401/STM32_HID_Bootloader/firmware/en.stm32cubeprg-mac_v2-12-0.zip
/STM32F401/STM32_HID_Bootloader/firmware/en.stm32cubeprg-win32_v2-12-0.zip
/STM32F401/STM32_HID_Bootloader/firmware/en.stm32cubeprg-win64-v2-12-0.zip
