*.csv.backup_*
*.kicad_pcb.backup_*
*report*.txt
/STM32F4XX-cache.lib
/STM32F4XX-v*-JLCPCB-BOM.csv
/STM32F4XX-v*-JLCPCB-CPL.csv
/STM32F4XX-v*.zip
/STM32F4XX.csv
/STM32F4XX_cpl_bot.csv
/STM32F4XX_cpl_top.csv
/fp-info-cache
